@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

.hidden {
  display: none;
}

.margin-bottom10 {
  margin: 10px;
}

.btn-position {
  position: absolute;
  right: 0%;
  top: 25%;
}

.li-width {
  width: 300px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;

  height: 100vh;
  min-width: 700px;
  width: 100%;
  font-family: "Fredoka", sans-serif;
}

img {
  position: absolute;
  top: 0;
  z-index: -1;
  filter: brightness(60%);

  width: 100%;
  height: 100%;
  object-fit: cover;

  min-width: 700px;
}

ul {
  padding: 0;
}

#todo-list > li {
  position: relative;
  padding: 5px;
}

#todo-list > li > span {
  margin: 0 5px 10px 0;
  padding: 10px;
}

#todo-list > li:hover {
  background-color: rgba(0, 0, 0, 0.459);
  cursor: default;
  border-radius: 10px;
}

#todo-list > li > button {
  background-color: rgba(70, 69, 69, 0.089);
  color: azure;

  border: 1px solid rgba(240, 255, 255, 0.678);
  border-radius: 5px;
  position: absolute;
  right: 2%;
}

#todo-list > li > button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

input::placeholder {
  color: azure;
  font-size: 130%;
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

.input-area {
  height: 30px;
  font-size: 15px;

  border: none;
  background-color: rgba(240, 248, 255, 0);
  border-bottom: solid 1px azure;
  color: azure;

  font-size: 100%;
}

#form-btn {
  border-radius: 5px;
  border: 2px solid azure;

  color: azure;
  background-color: rgba(0, 0, 0, 0);

  padding: 6px 8px;

  font-size: 15px;
  font-family: "Fredoka", sans-serif;
}

#todo-form > input {
  width: 245px;
  margin-top: 20px;
  padding: 5px;

  border: none;
  background-color: rgba(240, 248, 255, 0);
  border-bottom: solid 1px azure;
  color: azure;

  font-size: 100%;
}
.topbar {
  position: absolute;
  top: 0%;

  width: 100%;
  min-width: 700px;

  display: flex;
  justify-content: space-between;
}

#weather {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

#weather span {
  font-size: 25px;
}

#dates {
  margin: 20px;
  padding: 20px;

  font-size: 25px;
}

#clock {
  position: absolute;
  top: 0;
  margin: 20px;
  padding: 20px;

  letter-spacing: 1px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: azure;
}

#quotes {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 30px;
  padding: 10px;

  max-width: 400px;

  border-radius: 10px;
  background-color: rgba(240, 255, 255, 0.336);
}

#quotes span {
  font-size: 20px;
  text-align: center;
}

#quotes > span:first-child {
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0%;

  width: 100%;
  display: flex;
  justify-content: space-between;

  min-width: 700px;
}

.bookmark a {
  margin-right: 10px;
  font-size: 30px;
}

.bookmark {
  margin: 30px;
  padding: 15px 0 10px 10px;
  border-radius: 10px;
  background-color: rgba(240, 255, 255, 0.336);
  text-align: center;
}

.greetbox {
  display: flex;
  position: relative;
}
.greetbox button {
  height: 25px;
  position: relative;
  top: 35%;
  right: -10%;

  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.164);
  color: azure;
  border-radius: 5px;
  border: 1px solid rgba(240, 255, 255, 0.363);
}
.greetbox button:hover {
  cursor: pointer;
}
#greetRemove {
  text-align: center;
  background-color: rgba(241, 238, 238, 0.329);
  color: azure;

  position: absolute;
  right: -30%;
  top: -20%;
  padding: 0 5px;

  border-radius: 5px;
}
